@import './helpers/reset';
@import './helpers/variables';
@import './helpers/mixins';


body{
    font-family: $primary-fonts;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-inline: 1em;
  
    @media (max-width: 768px) {
      max-width: 608px;
    }
  
    @media (max-width: 320px) {
      max-width: 270px;
    }
  
}
  
html {
    font-size: 16px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 320px) {
      font-size: 14px;
    }
}
  
@import './sections/main';
  